:root {
    --title-color: #212121;
    --hero-title-color: #fff;
    --text-color: #757575;
    --text-color-secondary: #fff;
    --primary-bcg-color: #fff;
    --accent-color: #2196f3;
    --element-gap: 30px;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}